<div id="{{id}}" class="input_container">
    <label for="{{id}}-input" class="input_label">
        {{label}}
        <span class="optional">{{optional_str}}</span>
    </label>
    <input type="text" class="input" name="{{name}}" id="{{id}}-input" autocomplete="{{autocomplete}}" pattern="{{fmt}}" style="{{styles}}">
</div>